@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Poppins', sans-serif;
}
section
{
  position: relative;
  width: 100%;
  min-height: 50px;
  padding: 1px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background: #fff;


}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
    position: relative;
    max-width:50px;
}
header ul {
    position: relative;
    display: flex;
}
header ul li {
  list-style: none;
}
header ul li a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}
.content {
  position:relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.textBox h2 {
  padding: 3px;
  margin-left: 170px;
  margin-top: -100px;
}
p {
  padding: 3px;
  white-space: pre-line;
  margin-left: 170px;
}
.content .textBox {
  position: relative;
  max-width: 1000px;
}
.content .textBox h2 {
  color:#333;
  font-size: 3em;
  line-height: 1.2em;
  font-weight: 800;
}
.content .textBox h2 span
{
  color: #384a52;
  font-size: 1.2em;
  font-weight: 900;

}
.content .textBox p
{
  color: #333;
  font-size: 1.2em;
  font-weight: 500;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.imgBox {
  animation: fadeIn 1s ease-in-out forwards;
}

.min-height {
  min-height: 100vh;
}

.nova-secao {
  background-color: black; /* Cor de fundo da nova seção */
  height: 100vh; /* Altura total da tela */
  display: flex; /* Usando flexbox para centralizar o conteúdo */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}







