@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Poppins', sans-serif;
}

.first-container {
  position: relative;
  width: 100%;       
  height: 100vh;    
  background-color: #fff;
}
section
{
  position: relative;
  width: 100%;
  min-height: 50px;
  padding: 1px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background: #fff;

}
 header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
    position: relative;
    max-width:50px;

}
header ul {
    position: relative;
    display: flex;
}
header ul li {
  list-style: none;
}
header ul li a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}

.lang-menu {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  
}

.selected-lang {
    cursor: pointer;
    display: flex;
    justify-content: center;
    line-height: 2;
    width: 120px;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.322);  
    gap: 5px;
    border-radius: 10px;
    padding: 4px 4px;
  
}
.selected-lang1 {
  cursor: pointer;
  display: flex;
  justify-content: center;
  line-height: 2;
  width: 120px;
  height: auto;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.322);  
  gap: 5px;
  border-radius: 10px;
  padding: 4px 4px;
}

.selected-lang:before{
  content: '';
  display: block
}


.content {
  margin-top: 14px; /* IMAGEM MÃO */
  position:relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.textBox h2 {
  padding: 3px;
  margin-left: 170px;
  margin-top: -100px;
}
p {
  padding: 3px;
  white-space: pre-line;
  margin-left: 170px;
}
.content .textBox {
  position: relative;
  max-width: 1000px;
}
.content .textBox h2 {
  color:#333;
  font-size: 3em;
  line-height: 1.2em;
  font-weight: 800;
}
.content .textBox h2 span
{
  color: #384a52;
  font-size: 1.2em;
  font-weight: 900;

}
.content .textBox p
{
  color: #333;
  font-size: 1.2em;
  font-weight: 500;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.imgBox {
  animation: fadeIn 1s ease-in-out forwards;
}

.min-height {
  min-height: 100vh;
}

.container {
  background-color:#fff  
}

.container h1 {
  position: relative;
  text-align: center;
  padding: 1px;
  color:#fff
  
}


.slider {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 50px;
  overflow: hidden;
}

.slides {
  width: calc(400% + 20px);
  height: 100%; 
  display: flex;
  gap: 20px;
  
}

.slides input {
  display: none;
}

.slide {
  flex: 0 0 calc(25% - 20px); 
  position: relative;
}

.slide img {
  width: 100%; 
  height: auto; 
  border-radius: 15px;
}

.manual-navigation {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1820px;
  margin-top: -250px;
  display:flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 40px;
  margin-top: 190px;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: black;
}

#radio1:checked ~ .first{
  margin-left:0;
}
#radio2:checked ~ .first{
  margin-left:-25%;
}
#radio3:checked ~ .first{
  margin-left:-50%;
}
#radio4:checked ~ .first{
  margin-left: -75%;
}
#radio5:checked ~ .first{
  margin-right: -100%;
}
#radio6:checked ~ .first{
  margin-right: -125%;
}

.navigation-auto {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
}

.navigation-auto div {
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto div:hover {
  background-color: black;
  color: white;
}

input[type="radio"] {
  display: none;
}

.three-container {
  position: relative;
  width: auto;       
  height: 100vh;    
  background-color: #fff;
  justify-content: center;
}

.ip16 {
  display: flex;
  margin: 0 auto;
  max-width: 100%;
}

.especificatios {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  top: 30%;
  left: 50%;
  margin-left: 250px;
}

.especificatios p{
  margin: 0;
  line-height: 1.4;
  font-size: 12px;
  font-weight: 450;
  margin-bottom: 10px;
}

.space{
  text-indent: 50px;
}

.ip16{
  width: 80%;
  max-width: 653px;
}


